body{
    background-color: white;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Karla', sans-serif;

}

.margin{
    margin:auto  !important;
}

.justify{
    justify-content: center  !important;
}

.alignitems{
    align-items: center  !important;
}

.alignText{
    text-align: center !important;
}


.flex{
    display: flex;
    flex-wrap: nowrap;
}

.flexwrap{
    display: flex;
    flex-wrap: wrap;
}

.relative{
    position:relative;
}

.absolute{
    position: absolute;
    top:0%
}

