body{
    background-color: aliceblue;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Karla', sans-serif;

}

.margin{
    margin:auto;
}

.justify{
    justify-content: center;
}

.alignitems{
    align-items: center;
}

.alignText{
    text-align: center;
}


.flex{
    display: flex;
}

.relative{
    position:relative;
}

.absolute{
    position: absolute;
    top:0%
}