.aboutback{

    line-height: 1.6rem;
    
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */

    /* background-image: linear-gradient(120deg,#ffffff 0%,#e7e7e7, #e0c3fc, #8ec5fc,#e7e7e7,#ffffff 100%); */

    /* background-image: linear-gradient(to right,#ffffff 0%,#0da535 , #0da535, #0da535,#ffffff 100%); */

    /* background-image: linear-gradient(to right,
    #ffffff 0%,#28b7f0,#28b7f0, #28b7f0, #28b7f0,#28b7f0
    ,#ffffff 100%); */


 /* background-image: linear-gradient(to right,#ffffff 0%,#474747,
 #474747,#474747, #474747, #474747,#474747, #474747,
 #ffffff 100%); */


    


/* background-color: teal; */
    width:100vw;
    /* height: 100%;
     */
}

.banner{

    border-radius: 990px;
}