
  .search-form{
   
    display:flex;
    justify-content:center;
    align-items:center;
   
  }
  .search-button{
   background-color: #01a6e7 ;
    border-radius: 990px;
    left:'-5px';
    right: .4%;
    top: 0;
    bottom: 0;
    color:white;
    padding: .6%;
    min-width: 14%;
    align-items: center;
    text-align: center;
  
  }

  .search-bar{
    width: 24vw;
    border:none;
    /* padding:10px; */
    outline: 0px;
    padding: 1% !important;
    border-radius: 990px;
    
  }