.App {
  text-align: center;
}

.componentBox{
  display:flex;
  width:280px;
  height:400px;
  margin: 2%;
  /* margin-left: 2%; */
/* background-color: #152738; */
/* background: slategray; */
background: linear-gradient(to right bottom, 
#CC440E,
rgba(255, 255, 255, 0.3)
);

box-shadow: 5px 5px 4px slategray ;
 border-radius: 5%;
 overflow: hidden;
 color: white;
transition: all .3s ease-in-out; 

}



.componentBox:hover { 
  transform: scale(1.11); 
  }