body{
    background-color: white;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Karla', sans-serif;
    color: #01a6e7 !important;
    /* background-color: rgb(54, 54, 54); */
}

h1{
    /* font-weight: 700 !important; */
}
.primary{
    background-color: #01a6e7 !important;
    border-color:#01a6e7!important;
    
}

.margin{
    margin:auto  !important;
}

.justify{
    justify-content: center  !important;
}

.justifyaround{
    justify-content:space-around !important;
}

.justifybetween{
    justify-content:space-between  !important;
}

.aligncontent{
    align-content: center  !important;
}


.alignitems{
   
align-items: center  !important;
}



.alignText{
    text-align: center !important;
}


.flex{
    display: flex;
    flex-wrap: nowrap;
}

.flexwrap{
    display: flex;
    flex-wrap: wrap;
}

.relative{
    position:relative;
}

.absolute{
    position: absolute;
    /* top:0% */
}

.absolutebottom{
    position: absolute;
    bottom:5%;
    top:60%;
}


.margintop{
    margin-top:5%  !important;
}

.margintop10{
    margin-top:10%  !important;
}

.margintop15{
    margin-top:15%  !important;
}

.margintop25{
    margin-top:25%  !important;
}

.margintop50{
    margin-top:50%  !important;
    overflow: hidden !important;
}

.overflow{
    overflow: hidden !important;
}

hr{

    background-color: #01a6e7
}